*{
    margin: 0;
}


.header{
    padding: 25px;
    background-color: rgb(49, 49, 49);
    color: white;
    text-align: center;
    font-size: 35px;
}
label{
    font-size: 25px;
}
#searchSection{
    background-color: rgb(228, 228, 228);
}